<!-- <h1>BookShops#index</h1>
<p>Find me in app/views/book_shops/index.html.erb</p>
 -->
 <!DOCTYPE html>
<!-- <html> -->
	<!-- <head>
		<meta charset "utf-8">
		<title>bookstore.com</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head> -->
	<!-- <body> -->
		<header>
			<a href="index.html" class="logo">
				<h1>Online Book Store</h1>
			</a>
			<nav>
				<ul>
					<li><a href="index.html" class="selected">|  Home  |</a></li>
					<li><a href="about.html">  About  |</a></li>
					<li><a href="create.html">  Create  |</a></li>
					<li><a href="view.html">  View  | </a></li>
				</ul>
			</nav>
		</header>
		<div class="wrapper">
			<section>
				<p>
					<ul class="gallery">
						
							<a href="images/bookstore.jpg">
								<%=image_tag("bookstore.jpg", "height"=> "400px", "width"=> "800px") %>
								<p>Largest Collection of Books</p>
							</a>
						
					</ul>
				</p>
			</section>
			<footer>
				<a href="http:/twitter.com/devkotaprativa"><%=image_tag("twitter-wrap.png")%>
				<a href="http:/facebook.com/devkotaprativa"><%=image_tag("facebook-wrap.png")%>
				<p>&copy; 2015 Prativa Devkota.</p>
			</footer>
	</div>
	<!-- </body>
</html> -->